.blue {
    /*border-bottom: 5px solid blue;*/
    border: 3px solid #38679d !important;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}